<div class="background" style="display:flex; min-height:100vh;">
  <div class="col main-card" style="width:25%;">
    <div class="card">
      <div class="card-header">
      </div>
      <%= image_tag 'rock', class:"card-img-top" %>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <h4 class="card-subtitle">Card subtitle</h4>
        <p class="card-text">You can add navigation (navigation and pills) to card header</p>
      </div>
    </div>
    <br/>
  </div>

  <div class="col main-card" style="width:25%;">
    <div class="card">
      <div class="card-header">
      </div>
      <%= image_tag 'rock', class:"card-img-top" %>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <h4 class="card-subtitle">Card subtitle</h4>
        <p class="card-text">You can add navigation (navigation and pills) to card header</p>
      </div>
    </div>
    <br/>
  </div>


</div>
