<%= render "layouts/navbar" %>

<div class="student-list">
  <table style="width:100%">
    <tr>
      <th>Student name</th>
      <th>Examen Modulo 1</th>
      <th>Examen Modulo 2</th>
      <th>Examen Modulo 3</th>
    </tr>
      <tr>
        <td> <%= @student_exam.student.name %> </td>
        <td> <%= best_in_place @student_exam, :can_present, type: :checkbox, collection: { true: 'Yes', false: 'No'} %></td>
      </tr>
  </table>
</div>
