<nav id="home" class="fadein navbar navbar-expand-lg navbar-light py-0 fixed-top">
	<a data-turbolinks="false" class="navbar-brand" href="https://tec.mx/es"><%= image_tag "tec.png", class: "img-fluid", alt: "Responsive Image" %></a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link text-dark" href="#what" data-turbolinks="false">PERFIL</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" href="#acts" data-turbolinks="false">ACTIVIDADES</a>
			</li>
			<li class="nav-item">
				<%= link_to "PERFIL", new_student_path, class:"nav-link text-dark" %>
			</li>
		</ul>
		<%= image_tag "prepa.png", class: "img-fluid tecimgs", alt: "Responsive Image", size:"125x40" %>
	</div>
</nav>